/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Shortcuts / .shortcuts]
*/

.shortcuts {
	text-align: center;	
}

.shortcuts .shortcut { 
	width: 22.50%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 .9% 1em;
	vertical-align: top;		
	text-decoration: none;	
	background: #f9f6f1;	
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	
	font-size: 32px;
	color: #545454;
}

.shortcuts .shortcut:hover {
	background: #00ba8b;
}

.shortcuts .shortcut:hover span{
	color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #fff;
}

.shortcuts .shortcut-label {
	display: block;
	
	font-weight: 400;
	color: #545454;
}

/*------------------------------------------------------------------
[4. Action Table / .action-table]
*/

.action-table .btn-small {
	padding: 4px 5px 5px;
	
	font-size: 10px;
}

.action-table .td-actions { 
	width: 80px; 
	
	text-align: center; 
}

.action-table .td-actions .btn { 
	margin-right: .5em;		
}
	
.action-table .td-actions .btn:last-child { 
	margin-rigth: 0; 		
}
	
/* ADDED BY AFAQ */
.widget-content { padding:0px; }
.dataTables_length { display:none; }
.dataTable { margin-bottom:0px; }

.pulse {
   background:#19bc9c;
   border:1px solid #19bc9c;
   color:white;
}

.pulse-border {
   border-color:#19bc9c;
}

.main {
   margin-top:130px;
}
.dataTables_paginate{ width:100%; text-align:center; margin-top:10px; margin-left:-30px;}
.dataTables_paginate a{ margin-left:8px;}
.dataTables_paginate a:hover{ pointer:pointer;}
.navbar-fixed-top{  margin-left:0px;}
.widget-search{display: inline-block; vertical-align: middle; margin: 0 6px; width: 200px;}